<!DOCTYPE html>
<html>
<head>
    <title>Orders - View All</title>
</head>
    <body>
        <h1>Orders</h1>

        <table border="1">
            <tr>
                <th>Order Number</th>
                <th>Customer Id</th>
                <th>Quantity</th>
                <th>Address</th>
            </tr>
            <% for(var i = 0; i < orders.length; i++) { %>
                <tr>
                    <td><%= orders[i].order_num %></td>
                    <td><%= orders[i].customer_id %></td>
                    <td><%= orders[i].quantity %></td>
                    <td><%= orders[i].address %></td>
                    <td><a href="/order/edit/?order_num=<%= orders[i].order_num %>">
                     edit </a></td>
                 </tr>
            <% } %>
        </table>

    </body>
</html>